<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Что в кино">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/favicon.ico">

  <title>Что в кино</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>

<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Что в кино</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-9 col-sm-8 col-xs-10">
        {% for title, cinemas, rating, votes, img_url in movie_list %}
        <div class="col-md-9 col-sm-10 col-xs-10 company-info col-md-offset-3">
          <div class="col-md-4 col-sm-4 col-xs-4 text-center">
            <img class="image" src="/static/img/950968.jpg" alt="{{ img_url }}" width="150">
          </div>
          <div class="col-md-7 col-sm-6 col-xs-6">
            <h4>{{ title }}</h4>
            <p>{{ cinemas }}</p>
            <p>{{ rating }}</p>
            <p>{{ votes }}</p>
            <p>{{ img_url }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="footer">
    <p>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайтов Афиша и Кинопоиск.</p>
  </div>
</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
